
<h2>Answer</h2>
<%= debug @card %>
<p>
  <b>back:</b>
  <%= @card.back %>
</p>

<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <button type="button" class="btn btn-sm pull-right">New Question</button>
     &nbsp;
  <center><h3><%= @card.back %></h3></center>
    
   
    
    <div class="col align-self-end abs">

  </div>
  &nbsp;
   <%= button_to "I knew the answer", next_card_path(@category,@card), {method: :get,:class=>"btn btn-success btn-lg btn-block" }%>
   <%= button_to "I had no fucking clue about this one", next_card_path(@category,@card), {method: :get, :class=>"btn btn-danger btn-lg btn-block" }%>
    </div>
    
</div>



