<p>
  <strong>Title:</strong>
  <%= @category.title %>
</p>
 
<p>
  <strong>Description:</strong>
  <%= @category.description %>
</p>
<h2>Cards</h2>
<% @category.cards.each do |card|  @tmp_card=card%>
 
  <div class="jumbotron jumbotron-fluid">
    <div class="container">
      <%= button_to "Next Card", next_card_path(card) ,{ :class=>"btn btn-sm pull-left" }%>
      <button type="button" class="btn btn-sm pull-left">Previous Question</button>
      <button type="button" class="btn btn-danger btn-sm pull-right">LEARNING</button>
      &nbsp;
     <center><h2><%= card.front %></h2></center>
      
     
      
      <div class="col align-self-end abs">
  
    </div>
    <div class="space_lg">&nbsp;</div>
      <%= button_to "View Answer", card_answer_path(@tmp_card) ,{ :class=>"btn btn-primary btn-lg btn-block" }%>
   
    </div>
  </div>

<% end %>
<h2>Add a card:</h2>
<%= form_for([@category, @category.cards.build]) do |f| %>
  <p>
    <%= f.label :front %><br>
    <%= f.text_area :front %>
  </p>
  <p>
    <%= f.label :back %><br>
    <%= f.text_area :back %>
  </p>
  <p>
    <%= f.submit %>
  </p>
<% end %>
<%= link_to 'Edit', edit_category_path(@category) %> |

<%= link_to 'Back', categories_path %>
