<!DOCTYPE html>
<html lang="en">
<head>
    <title>Flash cards</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <%= javascript_include_tag  "application", "data-turbolinks-track" => true %>
    <%= javascript_include_tag :defaults %>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag 'application' %>
</head>
<style>
    .rel {
        position: relative;
       
    }
    .abs {
        position: absolute;
        bottom: -10px;
    }
</style>

<body>
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <% if user_signed_in? %>
                    <%= link_to "LOG OUT?", destroy_user_session_path, {:method => :delete,  :class=>"navbar-brand" } %> 
                <% else %>
                    <%= link_to "Sign Up", new_user_registration_path, { :class=>"navbar-brand" } %>
                    <%= link_to "Sign In", new_user_session_path, { :class=>"navbar-brand" }%>
                    <a class="navbar-brand nos" href="#"><div class="logo_style_blue">F</div></a>
                    <a class="navbar-brand nos" href="#"><div class="logo_style_orange">2</div></a>
                    <a class="navbar-brand nos" href="#"><div class="logo_style_green">L</div></a>
                <% end %>
            </div>


            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <% if user_signed_in? %>
                            <%= link_to "VIEW CATEGORIES", categories_path, { :class=>"navbar-brand" }%>  
                        <% else %>
                            <%= link_to "Sign Up", new_user_registration_path, { :class=>"navbar-brand" } %>
                            <%= link_to "Sign In", new_user_session_path, { :class=>"navbar-brand" }%>
                        <% end %>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li>
                                <% if user_signed_in? %>
                                    <%= link_to "VIEW CATEGORIES", categories_path, { :class=>"navbar-brand" }%>  
                                <% else %>
                                    <%= link_to "Sign Up", new_user_registration_path, { :class=>"navbar-brand" } %>
                                    <%= link_to "Sign In", new_user_session_path, { :class=>"navbar-brand" }%>
                                <% end %>
                            </li>
                            <li><a href="#">Another action</a></li>
                            <li><a href="#">Something else here</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="#">Separated link</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

     <div class="row">
      <div class="col-sm-4">-Fill Gaps--</div>
      <div class="col-sm-4"><%= yield %></div>
      <div class="col-sm-4">--Fill Gaps-- asdasdasdas</div>
    </div>


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</body>
</html>